.bigloc {
  order: 1;
  display: grid;
  padding: 20px;
  max-width: 400px;
  max-height: 300px;
  background: #ffffff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  flex-wrap: wrap;
  grid-template-areas:
    "a c"
    "b c"
    "d d"
    "e e";
  text-align: left;
}

.bigloc:hover {
  box-shadow: 2px 5px 25px 10px rgba(180, 180, 180, 0.5);
}

.degries {
  grid-area: a;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 117px;
  color: var(--color-blue);
}

.date {
  grid-area: b;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.img {
  margin: 0 auto;
  grid-area: c;
}
time {
  grid-area: d;
}
.location {
  grid-area: e;
}
.location,
.time {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: var(--color-gray);
}

@media (min-width: 1024px) {
  .bigloc {
    flex: 0 1 50%;
    order: 1;
    max-width: 445px;
    min-width: 400px;
    min-height: 300px;
  }
}
@media (max-width: 1024px) {
  .bigloc {
    max-width: 600px;
    min-height: 300px;
    flex: 0 1 50%;
    order: 2;
  }
}

@media (max-width: 480px) {
  .bigloc {
    order: 2;
    min-width: 400px;
    min-height: 300px;
  }
}
