.searchLocate {
  order: 3;
  max-width: 400px;
  max-height: 300px;
  padding: 0;

  border-radius: 15px;
}

.buttons {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
}
.buttons button {
  text-align: center;
  margin: 12px 5px;
  padding: 15px;
  background-color: var(--color-blue);
  border-radius: 10px;
  width: max-content;
  height: 50px;
  background: #ffffff;
  box-shadow: 2px 5px 25px 3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
}

.versionPC {
  display: none;
}
.versionMB {
  display: block;
  margin: 0;
}

.versionPC.active {
  display: flex;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--color-blue);
  border-radius: 15px;
}
.searchLocate_text {
  width: 80%;
  font-weight: 500;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  background-color: var(--color-blue);
}

.searchLocate_btn {
  width: 20px;
  height: 20px;
  background-color: var(--color-blue);
}

@media (min-width: 1024px) {
  .searchLocate {
    max-width: 445px;

    order: 2;
    flex: 0 1 50%;
  }
  /* .versionPC {
    display: flex;
  } */
  .versionMB {
    display: none;
  }
  .versionPC .active {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .searchLocate {
    flex: 0 1 50%;
    max-width: 600px;
    order: 1;
  }
  /* .versionPC .active {
    display: flex;
  } */
}

@media (max-width: 480px) {
  .searchLocate {
    order: 1;
  }
}
