.info {
  order: 2;
  background: #ffffff;
  max-width: 750px;
  min-height: 300px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 20px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info {
  /* position: relative;
  right: 0;
  top: 0; */
  background: no-repeat url(./image1.png);
  background-position: right top;

  /* width: 450px;
  height: 202px; */
}
ul {
  flex: 0 1 50%;
  padding: 0 10px;
  margin: 0;
}

.info li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px 0 auto;
}

.info_logo {
  width: 19px;
  height: 19px;
}
.info_logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background: #ffffff;
  box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
  padding: 2px;
  border-radius: 19px;
}
.property {
  width: 96px;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  margin: auto 20px;
  color: var(--color-gray);
}
.textCont {
  margin: auto 0;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
ul:last-child li:last-child {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .info {
    order: 3;
    flex: 0 1 50%;
    min-width: 920px;
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .info {
    order: 3;
    min-width: 400px;
    max-width: 600px;
    min-height: 300px;
  }
}
@media (max-width: 480px) {
  .info {
    order: 3;
  }
}
