.mainBlock {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 30px;
}

@media (min-width: 1024px) {
  .mainBlock {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 960px;
  }
}
@media (max-width: 1024px) {
  .mainBlock {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .mainBlock {
  }
}
