@import "./Styles/123.css";

:root {
  font-size: 62.5%;
  --color-blue: #4793ff;
  --color-gray: #939cb0;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 62.5%;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.mainBlock {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 30px;
}
@media (min-width: 1024px) {
  .App {
    width: 70%;
    max-width: 1200px;
  }
  .mainBlock {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 960px;
  }
}
@media (max-width: 1024px) {
  .App {
    width: 90%;
  }
  .mainBlock {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .App {
    width: 90%;
  }
}
