.popup_bg {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.803);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup_bg.popActive {
  opacity: 1;

  pointer-events: all;
}

.popup {
  background: white;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  height: max-content;
  transform: scale(0.5);
  transition: 0.4s all;
}
.popup.popActive {
  transform: scale(1);
}
