.miniCard {
  width: 149px;
  height: 200px;
  background: rgba(71, 147, 255, 0.2);
  border-radius: 10px;
  padding: 11px;
  margin: 0 10px;
}

.miniCard_date {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.miniCard_date2 {
  font-size: 14px;
  line-height: 17px;
  color: #939cb0;
}
.miniCard_img {
  margin: 12px 0;
}
.miniCard_temp__day {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.miniCard_temp__night {
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 16px;
  color: #939cb0;
}
.miniCard_temp__weather {
  font-size: 13px;
  line-height: 16px;

  color: #939cb0;
}
